@font-face {
    font-family: "WhyteOne";
    src: url(../font/WhyteInktrap-Thin.ttf);
    /* font-weight: bold; */
}

@font-face {
    font-family: "WhyteBlack";
    src: url(../font/WhyteInktrap-Black.ttf);
    font-weight: bolder;
}

@font-face {
    font-family: "WhyteNormal";
    src: url(../font/WhyteInktrap-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "WhyteMedium";
    src: url(../font/WhyteInktrap-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "WhyteBold";
    src: url(../font/WhyteInktrap-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "WhyteBoldItalic";
    src: url(../font/WhyteInktrap-BoldItalic.ttf) format("truetype");
}

a {
    text-decoration: none;
    color: #031b3f;
}

.primaryColor {
    color: #031b3f;
}

.secondaryColor {
    color: #4a4a4a;
}

.whiteColor {
    color: rgb(240, 240, 240);
}

nav {
    font-family: "WhyteNormal";
    font-size: 1.1em;
    /* letter-spacing: 1px; */
    white-space: inherit;
}

.navbar-nav {
    transition: transform 750ms;
    will-change: transform;
}

.navbar-nav :hover {
    transform: translateY(5px);
    transition: transform 800ms;
}

.navbar-toggler {
    border: none;
    border-radius: 10px;
    animation: slide 10ms;
}

.navbar-toggler:active {
    border: none;
    border-radius: 10px;
    animation: slide 10ms;
}

.dropdown-menu {
    border: none;
    border-radius: 10px;
    animation: slide 10ms;
}

.dropdown {
    transition: transform 750ms;
    will-change: transform;
}

.dropdown:hover {
    /* animation: slide 100s linear; */
    transform: translateY(5px);
}

.flex-column {
    flex-direction: column!important;
}

.d-flex {
    display: flex!important;
}

.megasubmenu {
    padding: 1rem;
}


/* ============ desktop view ============ */

@media all and (min-width: 1200px) {
    .megasubmenu {
        left: -200%;
        top: 50px;
        min-height: 100%;
        min-width: 500px;
    }
    .dropdown-menu>li:hover .megasubmenu {
        display: block;
    }
}

.btn-primary {
    background-color: #031b3f;
}

.btn-primary:hover {
    background-color: #00255c;
}

.bgPrimary {
    background-color: #031b3f;
}

.tryer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

h1 {
    font-family: "WhyteBold";
    color: white;
    font-size: 3.5rem;
}

.fontApplyNormal {
    font-family: "WhyteNormal";
    font-size: 1em;
}

.fontApplyBold {
    font-family: "WhyteBold";
}

.d-flex {
    padding: 5px;
}

@media (min-width: 992px) {
    .for-mobile {
        display: none;
    }
}

@media (max-width: 992px) {
    .for-mobile {
        text-align: center;
        margin-top: 60px;
        height: 70ch;
        /* background-image: url(../assets/slide-video.png); */
        background-repeat: no-repeat;
        background-blend-mode: soft-light;
        background-size: cover;
    }
}

@media (max-width: 992px) {
    .for-desktop {
        display: none;
    }
}

@media (max-width: 992px) {
    .for-desktop {
        margin: 20px;
    }
}

.service-section {
    margin-top: 60px;
    height: auto;
}

.service-section .card {
    border-radius: 20px;
    height: 10rem;
    margin: 5px;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.viewport-header {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes showup {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }
    20% {
        opacity: 1;
        width: 0px;
    }
    30% {
        width: 355px;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 355px;
    }
}

p {
    text-align: left;
    font-family: "WhyteNormal";
}

p:hover {
    color: rgb(0, 0, 0);
}

.about-us-section {
    margin-top: 8rem;
}

@media (max-width: 922px) {
    .about-us-section {
        margin-top: 15rem;
    }
}

.counter-box {
    display: block;
    background: #f6f6f6;
    padding: 40px 20px 37px;
    text-align: center;
}

.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: #d6d6d6;
    font-size: 18px;
    text-align: center;
}

.counter-box i {
    font-size: 60px;
    margin: 0 0 15px;
    color: #d2d2d2
}

.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: rgb(148, 148, 148);
    line-height: 28px
}

.counter-box.colored {
    background: #031b3f;
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
    color: #fff
}

.contact-section {
    background-color: white;
    width: auto;
    height: auto;
    border-radius: 5px;
    margin: 20px auto;
    padding: 50px;
}

.company-background {
    /* position: absolute; */
    width: 1027.53px;
    height: 500px;
    top: -175.98px;
    background: #460505;
    width: 10ch;
    height: 50vw
}

.company-section .card {
    background-color: #00255c;
    color: white;
    border-radius: 10px;
}

.heroSection {
    height: 200px;
    width: auto;
    padding: 40px;
    margin-top: 30px;
    /* background-color: #00255c; */
}

.heroSectionComp {
    font-size: 50px;
}

.backGroundLayer {
    filter: drop-shadow(10px 10px 0px #00255c);
}

.showCase {
    width: auto;
    height: 200px;
    margin-top: 50px;
    padding: 20px;
}

.btn.btn-outline-primary:hover,
.bg-primary {
    background-color: #0cb4ce !important;
}

.section-medium {
    padding: 55px 0px;
}

.testimonial-four blockquote:hover::after,
.section-arrow-primary-color.section-arrow--bottom-center:after {
    border-right-color: #0cb4ce;
}

.section-arrow-primary-color.section-arrow--bottom-center:after {
    background-color: #0cb4ce;
    border-right-color: #0cb4ce;
    border-bottom-color: #0cb4ce;
}

.section-arrow--bottom-center:after {
    z-index: 1;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    content: "";
    position: absolute;
    bottom: -15px;
    width: 30px;
    height: 30px;
    border-right: 1px solid #262626;
    border-bottom: 1px solid #262626;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #262626;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6 {
    color: white !important;
}

.section-title {
    font-size: 32px;
    font-weight: 600;
    margin-top: 0.45em;
    margin-bottom: 0.35em;
    color: #303133;
    font-family: Poppins;
    letter-spacing: -0.02em;
}

.section-sub-title {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 400;
    font-family: Poppins;
}

.section-arrow-primary-color.section-arrow--bottom-center:after {
    border-bottom-color: #0cb4ce;
}

.section-arrow-primary-color.section-arrow--bottom-center:after {
    background-color: #0cb4ce;
}

.special-heading.line span:before,
.special-heading.line span:after,
.footer.footer-minimal,
.t-bordered {
    border-top-color: #eaeaea;
}

.t-bordered {
    border-top: 1px solid #eaeaea;
}

.section-primary {
    padding: 75px 0px;
}

section {
    position: relative;
}

.testimonial-two {
    padding: 20px;
    border: 2px solid #0cb4ce;
    border-radius: 2px;
}

.testimonial-two blockquote p:before {
    font-family: 'Playfair Display';
    font-size: 54px;
    color: #0cb4ce;
    font-weight: 900;
    left: 10px;
    color: #FFF;
    content: "“";
    font-style: normal;
    line-height: 1;
    position: absolute;
    top: 5px;
    font-size: 45px;
}

.testimonial-two blockquote p:after {
    font-family: 'Playfair Display';
    font-size: 54px;
    color: #0cb4ce;
    content: "”";
    font-size: 80px;
    font-style: normal;
    line-height: 1;
    position: absolute;
    bottom: -0.5em;
    right: 10px;
    font-weight: 900;
    transform: scaleY(-1);
    font-size: 45px;
    bottom: -5px;
}

.testimonial-two blockquote {
    padding: 15px 15px 15px 48px;
    position: relative;
}

.testimonial-two blockquote p:before,
.testimonial-two blockquote p:after {
    color: #0cb4ce;
    font-weight: 900;
}

.testimonial-two blockquote p {
    font-size: inherit;
    font-weight: inherit;
}

.testimonial-two .testimonial-author p {
    color: #999;
    margin: 0 0 0 25px;
    text-align: left;
}

.testimonial-two .testimonial-author strong {
    display: block;
    padding-top: 10px;
    margin-bottom: -2px;
    font-weight: 500;
    font-size: 14px;
    color: #444;
}

.testimonial-two .testimonial-author span {
    color: #666;
    display: block;
    font-size: 12px;
}

.testimonial-two .testimonial-author .testimonial-author-thumbnail {
    float: left;
    margin-right: 15px;
    width: auto;
}

.testimonial-two .testimonial-author img {
    max-width: 55px;
}

.testimonial-two .testimonial-author {
    margin-left: 12px;
    margin-bottom: 15px;
}

.testimonial-two .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 0px;
}

.testimonial-two .owl-theme .owl-dots {
    text-align: left;
    margin-left: 50px;
}

.testimonial-two .owl-carousel .owl-dots .owl-dot.active span,
.testimonial-two .owl-carousel .owl-dots .owl-dot:hover span {
    border-color: #0cb4ce;
}

.testimonial-two .owl-carousel .owl-dots .owl-dot.active span:before,
.testimonial-two .owl-carousel .owl-dots .owl-dot:hover span:before {
    background-color: #0cb4ce;
}

.testimonial-three .testimonial-image {
    float: left;
    margin: 0 20px 0 0;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    overflow: hidden;
}

.testimonial-three .testimonial-content {
    overflow: hidden;
}

.testimonial-three .testimonial-meta {
    position: relative;
    overflow: hidden;
    margin-left: 100px;
}

.testimonial-three .testimonial-name {
    display: block;
}

.testimonial-three .testimonial-three-col {
    padding-bottom: 35px;
}

.testimonial-three .testimonial-three-col {
    border-right-style: dashed;
    border-right-width: 1px;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-right-color: #ddd;
    border-bottom-color: #ddd;
    padding: 25px;
}

.testimonial-three .testimonial-three-col:hover {
    background-color: #f7f7f7;
}

.alternate-color .testimonial-three .testimonial-three-col:hover {
    background-color: white;
}

.testimonial-three.testimonial-three--col-two .testimonial-three-col:nth-child(2n) {
    border-right: none;
}

.testimonial-three.testimonial-three--col-two .testimonial-three-col:nth-last-child(-n+2),
.testimonial-three.testimonial-three--col-two .testimonial-three-col:last-child {
    border-bottom: none;
}

.testimonial-three.testimonial-three--col-three .testimonial-three-col:nth-child(3n) {
    border-right: none;
}

.testimonial-three.testimonial-three--col-three .testimonial-three-col:nth-last-child(-n+3),
.testimonial-three.testimonial-three--col-three .testimonial-three-col:nth-last-child(-n+2),
.testimonial-three.testimonial-three--col-three .testimonial-three-col:last-child {
    border-bottom: none;
}

.testimonial-four .testimonial-author .testimonial-author-thumbnail {
    float: left;
    margin-right: 15px;
    width: auto;
}

.testimonial-four .testimonial-author img {
    max-width: 55px;
}

.testimonial-four .testimonial-author strong {
    display: block;
    padding-top: 10px;
    margin-bottom: -2px;
    font-weight: 500;
    font-size: 14px;
    color: #444;
}

.testimonial-four .testimonial-author span {
    color: #666;
    display: block;
    font-size: 12px;
}

.testimonial-four blockquote {
    padding: 30px;
    width: 100%;
    border-radius: 4px;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 25px;
    border: 2px solid #eaeaea;
}

.testimonial-four blockquote::after {
    content: "";
    border-right: 2px solid #eaeaea;
    border-bottom: 2px solid #eaeaea;
    -webkit-transform: rotate(55deg);
    -moz-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -o-transform: rotate(55deg);
    transform: rotate(55deg);
    position: absolute;
    left: 55px;
    bottom: -12px;
    width: 15px;
    height: 21px;
    overflow: hidden;
    background: white;
}

.testimonial-four .owl-theme .owl-nav.disabled+.owl-dots {
    position: absolute;
    float: right;
    text-align: right;
    right: 3px;
    bottom: 40px;
}

.testimonial-four .testimonial-author {
    position: relative;
    overflow: hidden;
}

.testimonial-four blockquote:hover::after {
    border-right: 2px solid #0cb4ce;
    border-bottom: 2px solid #0cb4ce;
}

.testimonial-four blockquote:hover {
    border: 2px solid #0cb4ce;
}

.testimonial-five blockquote p {
    font-weight: 400;
    font-size: 14.58px;
    line-height: 1.6;
    margin-bottom: 0;
}

.testimonial-five .testimonial-author .testimonial-author-thumbnail {
    float: left;
    margin-right: 15px;
    width: auto;
}

.testimonial-five .testimonial-author img {
    max-width: 55px;
}

.testimonial-five .testimonial-author strong {
    display: block;
    padding-top: 10px;
    margin-bottom: -2px;
    font-weight: 600;
    font-size: 13px;
}

.testimonial-five .testimonial-author span {
    color: #666;
    display: block;
    font-size: 12px;
}

.testimonial-five blockquote {
    padding: 32px 41px 37px;
    width: 100%;
    border-radius: 4px;
    position: relative;
    margin-bottom: 30px;
    border: 0px solid #eaeaea;
    background-color: #f7f7f7;
}

.testimonial-five blockquote::after {
    content: "";
    border-right: 0px solid #eaeaea;
    border-bottom: 0px solid #eaeaea;
    -webkit-transform: rotate(55deg);
    -moz-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -o-transform: rotate(55deg);
    transform: rotate(55deg);
    position: absolute;
    left: 55px;
    bottom: -10px;
    width: 15px;
    height: 21px;
    overflow: hidden;
    background: #f7f7f7;
}

.testimonial-five.testimonial-light blockquote {
    background-color: white;
}

.testimonial-five.testimonial-light blockquote::after {
    background: white;
}

.testimonial-five .owl-theme .owl-nav.disabled+.owl-dots {
    position: absolute;
    float: right;
    text-align: right;
    right: 3px;
    bottom: 40px;
}

.testimonial-five .testimonial-author {
    position: relative;
    overflow: hidden;
}

.testimonial-five blockquote:before {
    content: "“";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 170px;
    color: rgba(189, 189, 189, 0.2);
    position: absolute;
    top: 10px;
    left: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

section.pricing {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
}

.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.pricing .card-price {
    font-size: 3rem;
    margin: 0;
}

.pricing .card-price .period {
    font-size: 0.8rem;
}

.pricing ul li {
    margin-bottom: 1rem;
}

.pricing .text-muted {
    opacity: 0.7;
}

.pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
}


/* Hover Effects on Card */

@media (min-width: 992px) {
    .pricing .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .pricing .card:hover .btn {
        opacity: 1;
    }
}

.cookie-container {
    position: fixed;
    bottom: -100%;
    left: 30%;
    right: 30%;
    background: #2f36403a;
    color: #f5f6fa;
    padding: 20px;
    transition: 400ms;
}

.cookie-container.active {
    bottom: 0;
}

.cookie-container a {
    color: #f5f6fa;
}

.cookie-btn {
    background: #e84118;
    border: 0;
    color: #f5f6fa;
    padding: 12px 48px;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
}

@media (max-width: 992px) {
    .cookie-container {
        left: 0;
        right: 0;
    }
}

.card-style {
    border-style: solid;
    border-width: 3px;
    box-shadow: 10px -10px 0 -3px white, 10px -10px, 20px -20px 0 -3px white, 20px -20px;
    transition: box-shadow 1s, top 1s, left 1s;
    top: 0;
    left: 0;
}

.card-style:hover {
    top: -20px;
    left: 20px;
    box-shadow: 0 0 0 -3px white, 0 0, 0 0 0 -3px white, 0 0px;
}

.fontSize {
    font-size: small;
}

.adjust {
    text-align: left;
    font-size: small;
}

.topMag {
    margin-top: 7em;
}